
.patients-main {
    display: flex;
    justify-content: center;
    padding: 40px 16px;
    width: 100%;
    box-sizing: border-box;
  }
  

  .patients-card {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(15, 23, 42, 0.08);
    padding: 24px 32px 32px;
    max-width: 900px;   /* compacta al inicio */
    width: 100%;
    margin: 0 auto;
  }
  
  /* En pantallas grandes, dejamos que respire más */
  @media (min-width: 1400px) {
    .patients-card {
      max-width: 1100px;
    }
  }
  
  .patients-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 16px;
  }
  
  /* ================================
     TABLA + SCROLL EN MÓVIL
  ================================ */
  .patients-table-wrapper {
    width: 100%;
    overflow-x: auto;
  }
  
  /* Tabla principal */
  .patients-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed; /* reparte espacio equitativamente */
  }
  
  .patients-table thead {
    background-color: #f5f5f8;
  }
  
  /* Celdas */
  .patients-table th,
  .patients-table td {
    padding: 14px 20px;
    border-bottom: 1px solid #e5e7f0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .patients-table th {
    text-align: left;
    font-weight: 700;
  }
  
  .patients-table tr:last-child td {
    border-bottom: none;
  }

  .th-subtitle {
    font-size: 11px;
    color: #515151; /* gris suave */
    font-weight: 500;
    line-height: 1.2;
  }
  

  
  /* Número / Expediente */
  .patients-table th:nth-child(1),
  .patients-table td:nth-child(1) {
    width: 90px;
  }
  
  /* Apellido paterno */
  .patients-table th:nth-child(2),
  .patients-table td:nth-child(2) {
    width: 100px;
  }
  
  /* Apellido materno */
  .patients-table th:nth-child(3),
  .patients-table td:nth-child(3) {
    width: 100px;
  }
  
  /* Nombre */
  .patients-table th:nth-child(4),
  .patients-table td:nth-child(4) {
    width: 110px;
  }
  
  /* Edad */
  .patients-table th:nth-child(5),
  .patients-table td:nth-child(5) {
    width: 40px;
  }
  
  /* Acción */
  .patients-table th:nth-child(6),
  .patients-table td:nth-child(6) {
    width: 120px;
  }
  
 
  .patients-action-btn {
    padding: 6px 18px;
    border-radius: 999px;
    border: none;
    background-color: #0066ff;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
  }
  
  .patients-action-btn:hover {
    background-color: #004fcc;
    transform: translateY(-1px);
  }
  
 
  @media (max-width: 768px) {
    .patients-card {
      padding: 16px;
    }
  
    .patients-table th,
    .patients-table td {
      padding: 10px 12px;
      font-size: 13px;
    }
  }
  