.dashboard-grid-top {
    display: grid;
    grid-template-columns: 3.5fr 1fr 1fr;
    gap: var(--spacing-m);
    padding: var(--spacing-m);
  }
  
  .dashboard-grid-bottom {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: stretch;
    gap: var(--spacing-m);
    padding: var(--spacing-m);
  }
  
  .card {
    background: var(--color-background-light);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-card);
    padding: 10px 24px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .card-stack {
    display: flex;
    flex-direction: column;
    gap: 12px;     
    height: 100%;   
  }
  /* variantes de card */
  .card-group {
    padding: 10px;
    flex-direction: row;
    gap: var(--spacing-m);
  }
  
  .card-sub {
    padding: 10px 15px;
    box-shadow: var(--shadow-card-soft);
  }
  .card-subtitle{
    margin-top:0px;
  }

  .vertical-divider {
    width: 1px;
    background-color: rgba(127, 126, 126, 0.08);
    height: 70%;            
    align-self: center;
    flex-shrink: 0;
  }
  
  
  /* Responsive */
  @media (max-width: 1200px) {
    .dashboard-grid-top {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
    .dashboard-grid-bottom {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media (max-width: 768px) {
    .dashboard-grid-top,
    .dashboard-grid-bottom {
      grid-template-columns: 1fr;
    }
  }
  