

   .login-page-container { 
    background: linear-gradient(to right, #e0f7fa, #f1f8e9);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.login-container {
    background-color: white;
    padding: 3.5rem 3rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15); 
    width: 100%;
    max-width: 400px; 
    text-align: center;
}

.login-container h2 {
    font-size: 2rem;
    margin-bottom: 1.3rem;
    color: #003366;
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #37474f;
}

input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #b0bec5;
    border-radius: 8px;
    font-size: 1rem;
}

.login-form button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 0.5rem; 
}

.login-form button:hover {
    background-color: #0056b3;
}
.error-mensaje{
    margin-top: 12px;
    color: #c0392b;
    font-size: 0.9rem;
    text-align: center;
  }
  .input-error {
    border: 2px solid #ff4d4f !important;
  
  }
  

@media (max-width: 900px) {
    .login-wrapper {
        flex-direction: column;
    }

    .left-panel {
        height: 150px;
    }

    .right-panel {
        flex: auto;
        padding: 1rem;
    }
}